*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  list-style: none;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

img,
svg {
  max-width: 10rem;
  max-height: 10rem;
}

svg {
  width: fit-content;
  height: fit-content;
}

a,
a:visited,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
.body {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 17%, 98%);
}
.body .header {
  height: 15dvh;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  box-shadow: 0px -3px 10px hsla(0, 0%, 0%, 0.25);
  background-color: hsl(204, 56%, 31%);
  z-index: 800;
}
.body .header .header__nav {
  width: 100%;
}
.body .header .header__nav-ul {
  max-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.body .header .header__nav-item {
  max-height: 100%;
}
.body .header .nav__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
.body .header .nav__item-p {
  text-align: center;
  width: clamp(7.2rem, 4.85vw, 12rem);
  font-size: clamp(1.2rem, 1.47vw, 2rem);
  font-weight: 500;
}
.body .header .nav__item-svg {
  height: clamp(2.5rem, 3.3vw, 5rem);
  aspect-ratio: 1;
}
.body .header .nav__svg-path {
  stroke: hsl(0, 0%, 100%);
}
.body .header .nav__item-link:hover,
.body .header .nav__item-link:hover .nav__svg-path {
  stroke: hsl(159, 86%, 55%);
  color: hsl(159, 86%, 55%);
}
.body .header .nav__item-link:active,
.body .header .nav__item-link:active .nav__svg-path {
  stroke: hsl(134, 75%, 72%);
  color: hsl(134, 75%, 72%);
}
.body .header .nav__item-btn {
  width: clamp(4.5rem, 6vw, 8rem);
  aspect-ratio: 1;
  position: relative;
  padding: 0.25rem;
  top: -7dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: hsl(154, 53%, 57%);
  cursor: pointer;
  overflow: hidden;
}
.body .header .nav__item-btn .nav__item-svg {
  height: 100%;
  border: none;
  border-radius: 50%;
}
.body .header .nav__item-btn:hover {
  background-color: hsl(159, 86%, 55%);
}
.body .main {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0rem clamp(1rem, 3vw, 5rem);
}
.body .main .register-body {
  padding: 2rem 0rem;
}
.body .main .register-body .main-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.body .main .register-body .main-register .register-main__h1 {
  font-size: 3rem;
  font-weight: 600;
  color: hsl(205, 50%, 33%);
}
.body .main .register-body .main-register .user-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 60vw;
}
.body .main .register-body .main-register .user-form__div {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.body .main .register-body .main-register .user-form__div input {
  width: 100%;
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0.15rem 0.5rem;
  font-size: 1.4rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  border-bottom: 2px solid hsl(12, 76%, 61%);
}
.body .main .register-body .main-register .user-form__bottom {
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
}
.body .main .register-body .main-register .user-form__bottom-div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round {
  position: relative;
  display: flex;
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round label {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: block;
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox] {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox]:checked + label {
  background-color: hsl(154, 53%, 57%);
  border-color: hsl(154, 53%, 57%);
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox]:hover + label {
  background-color: hsla(159, 86%, 55%, 0.5);
  border-color: hsla(159, 86%, 55%, 0.5);
}
.body .main .register-body .main-register .user-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.body .main .register-body .main-register .user-form__submit,
.body .main .register-body .main-register .user-form__generate {
  border: none;
  border-radius: 3rem;
  padding: 0.75rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: hsl(204, 48%, 15%);
  background-color: hsl(154, 53%, 57%);
  cursor: pointer;
}
.body .main .register-body .main-register .user-form__submit:hover,
.body .main .register-body .main-register .user-form__generate:hover {
  background-color: hsl(159, 86%, 55%);
}
.body .main .register-body .main-register label {
  font-size: 1.35rem;
  cursor: pointer;
}
.body .main .register-body .main-register label i {
  font-style: italic;
}
.body .main .index-body {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.body .main .index-body .main__welcome {
  display: flex;
  justify-content: space-between;
}
.body .main .index-body .main__welcome-text-div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.body .main .index-body .main__welcome-h1 {
  font-size: clamp(3rem, 4.7vw, 6.4rem);
  font-weight: 600;
  color: hsl(205, 50%, 33%);
}
.body .main .index-body .main__welcome-h1__dark {
  color: hsl(173, 58%, 39%);
}
.body .main .index-body .main__welcome-p {
  font-size: clamp(1.125rem, 1.75vw, 2.4rem);
  font-weight: 600;
}
.body .main .index-body .main__welcome-btn-div {
  position: absolute;
  top: 2rem;
  right: clamp(1rem, 3vw, 5rem);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  height: fit-content;
}
.body .main .index-body .main__welcome-div-p {
  font-weight: 600;
}
.body .main .index-body .main__welcome-btn {
  height: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: hsl(154, 53%, 57%);
  cursor: pointer;
  overflow: hidden;
}
.body .main .index-body .main__welcome-btn .main__welcome-btn-svg {
  width: 100%;
  aspect-ratio: 1;
}
.body .main .index-body .main__welcome-btn:hover {
  background-color: hsl(159, 86%, 55%);
}
.body .main .index-body .main__div-row {
  display: flex;
  justify-content: space-around;
  column-gap: 4rem;
}
.body .main .index-body .main__section {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}
.body .main .index-body .main__section-h3 {
  font-size: clamp(1.5rem, 2.35vw, 3.2rem);
  font-weight: 600;
  color: hsl(12, 76%, 61%);
}
.body .main .index-body .main__section-p {
  font-size: clamp(1rem, 1.175vw, 1.6rem);
}
.body .main .index-body .main__agenda {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.body .main .index-body .main__agenda-intro {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.body .main .index-body .agenda__intro-h2 {
  font-size: clamp(2.25rem, 3.53vw, 4.8rem);
  font-weight: 600;
  color: hsl(205, 50%, 33%);
}
.body .main .index-body .agenda__intro-h2__dark {
  color: hsl(173, 58%, 39%);
}
.body .main .index-body .agenda__intro-p {
  font-size: clamp(1.2rem, 1.47vw, 2rem);
  font-weight: 600;
}
.body .main .index-body .container-tasks {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}
.body .main .index-body .container-tasks .card:nth-child(1) .card__color {
  background-color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(1) .card__category {
  color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(2) .card__color {
  background-color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(2) .card__category {
  color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(3) .card__color {
  background-color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(3) .card__category {
  color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(4) .card__color {
  background-color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(4) .card__category {
  color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(5) .card__color {
  background-color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(5) .card__category {
  color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(6) .card__color {
  background-color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(6) .card__category {
  color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(7) .card__color {
  background-color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(7) .card__category {
  color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(8) .card__color {
  background-color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(8) .card__category {
  color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(9) .card__color {
  background-color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(9) .card__category {
  color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(10) .card__color {
  background-color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(10) .card__category {
  color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(11) .card__color {
  background-color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(11) .card__category {
  color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(12) .card__color {
  background-color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(12) .card__category {
  color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(13) .card__color {
  background-color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(13) .card__category {
  color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(14) .card__color {
  background-color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(14) .card__category {
  color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(15) .card__color {
  background-color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(15) .card__category {
  color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(16) .card__color {
  background-color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(16) .card__category {
  color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(17) .card__color {
  background-color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(17) .card__category {
  color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(18) .card__color {
  background-color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(18) .card__category {
  color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(19) .card__color {
  background-color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(19) .card__category {
  color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(20) .card__color {
  background-color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(20) .card__category {
  color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(21) .card__color {
  background-color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(21) .card__category {
  color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(22) .card__color {
  background-color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(22) .card__category {
  color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(23) .card__color {
  background-color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(23) .card__category {
  color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(24) .card__color {
  background-color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(24) .card__category {
  color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(25) .card__color {
  background-color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(25) .card__category {
  color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(26) .card__color {
  background-color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(26) .card__category {
  color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(27) .card__color {
  background-color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(27) .card__category {
  color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(28) .card__color {
  background-color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(28) .card__category {
  color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(29) .card__color {
  background-color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(29) .card__category {
  color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(30) .card__color {
  background-color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(30) .card__category {
  color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(31) .card__color {
  background-color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(31) .card__category {
  color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(32) .card__color {
  background-color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(32) .card__category {
  color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(33) .card__color {
  background-color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(33) .card__category {
  color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(34) .card__color {
  background-color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(34) .card__category {
  color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(35) .card__color {
  background-color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(35) .card__category {
  color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(36) .card__color {
  background-color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(36) .card__category {
  color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(37) .card__color {
  background-color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(37) .card__category {
  color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(38) .card__color {
  background-color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(38) .card__category {
  color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(39) .card__color {
  background-color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(39) .card__category {
  color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(40) .card__color {
  background-color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(40) .card__category {
  color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(41) .card__color {
  background-color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(41) .card__category {
  color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(42) .card__color {
  background-color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(42) .card__category {
  color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(43) .card__color {
  background-color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(43) .card__category {
  color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(44) .card__color {
  background-color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(44) .card__category {
  color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(45) .card__color {
  background-color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(45) .card__category {
  color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(46) .card__color {
  background-color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(46) .card__category {
  color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(47) .card__color {
  background-color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(47) .card__category {
  color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(48) .card__color {
  background-color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(48) .card__category {
  color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(49) .card__color {
  background-color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(49) .card__category {
  color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(50) .card__color {
  background-color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(50) .card__category {
  color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(51) .card__color {
  background-color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(51) .card__category {
  color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(52) .card__color {
  background-color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(52) .card__category {
  color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(53) .card__color {
  background-color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(53) .card__category {
  color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(54) .card__color {
  background-color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(54) .card__category {
  color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(55) .card__color {
  background-color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(55) .card__category {
  color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(56) .card__color {
  background-color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(56) .card__category {
  color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(57) .card__color {
  background-color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(57) .card__category {
  color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(58) .card__color {
  background-color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(58) .card__category {
  color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(59) .card__color {
  background-color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(59) .card__category {
  color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(60) .card__color {
  background-color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(60) .card__category {
  color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(61) .card__color {
  background-color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(61) .card__category {
  color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(62) .card__color {
  background-color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(62) .card__category {
  color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(63) .card__color {
  background-color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(63) .card__category {
  color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(64) .card__color {
  background-color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(64) .card__category {
  color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(65) .card__color {
  background-color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(65) .card__category {
  color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(66) .card__color {
  background-color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(66) .card__category {
  color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(67) .card__color {
  background-color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(67) .card__category {
  color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(68) .card__color {
  background-color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(68) .card__category {
  color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(69) .card__color {
  background-color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(69) .card__category {
  color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(70) .card__color {
  background-color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(70) .card__category {
  color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(71) .card__color {
  background-color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(71) .card__category {
  color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(72) .card__color {
  background-color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(72) .card__category {
  color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(73) .card__color {
  background-color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(73) .card__category {
  color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(74) .card__color {
  background-color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(74) .card__category {
  color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(75) .card__color {
  background-color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(75) .card__category {
  color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(76) .card__color {
  background-color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(76) .card__category {
  color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(77) .card__color {
  background-color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(77) .card__category {
  color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(78) .card__color {
  background-color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(78) .card__category {
  color: hsl(225, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(79) .card__color {
  background-color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(79) .card__category {
  color: hsl(240, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(80) .card__color {
  background-color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(80) .card__category {
  color: hsl(255, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(81) .card__color {
  background-color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(81) .card__category {
  color: hsl(270, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(82) .card__color {
  background-color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(82) .card__category {
  color: hsl(285, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(83) .card__color {
  background-color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(83) .card__category {
  color: hsl(300, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(84) .card__color {
  background-color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(84) .card__category {
  color: hsl(315, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(85) .card__color {
  background-color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(85) .card__category {
  color: hsl(330, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(86) .card__color {
  background-color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(86) .card__category {
  color: hsl(345, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(87) .card__color {
  background-color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(87) .card__category {
  color: hsl(0, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(88) .card__color {
  background-color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(88) .card__category {
  color: hsl(15, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(89) .card__color {
  background-color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(89) .card__category {
  color: hsl(30, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(90) .card__color {
  background-color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(90) .card__category {
  color: hsl(45, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(91) .card__color {
  background-color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(91) .card__category {
  color: hsl(60, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(92) .card__color {
  background-color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(92) .card__category {
  color: hsl(75, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(93) .card__color {
  background-color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(93) .card__category {
  color: hsl(90, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(94) .card__color {
  background-color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(94) .card__category {
  color: hsl(105, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(95) .card__color {
  background-color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(95) .card__category {
  color: hsl(120, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(96) .card__color {
  background-color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(96) .card__category {
  color: hsl(135, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(97) .card__color {
  background-color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(97) .card__category {
  color: hsl(150, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(98) .card__color {
  background-color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(98) .card__category {
  color: hsl(165, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(99) .card__color {
  background-color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(99) .card__category {
  color: hsl(180, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(100) .card__color {
  background-color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(100) .card__category {
  color: hsl(195, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(101) .card__color {
  background-color: hsl(210, 50%, 50%);
}
.body .main .index-body .container-tasks .card:nth-child(101) .card__category {
  color: hsl(210, 50%, 50%);
}
.body .main .index-body .card {
  position: relative;
  display: flex;
  height: auto;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: hsl(0, 100%, 100%);
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
  overflow: hidden;
  color: hsl(0, 0%, 0%);
}
.body .main .index-body .card__color {
  height: 1;
  width: 5%;
}
.body .main .index-body .card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.2rem;
  padding: 0.4rem 1rem;
  width: 100%;
}
.body .main .index-body .card__body .card__svg {
  width: 1rem;
  height: 1rem;
  opacity: 0.65;
}
.body .main .index-body .card__body .desc-svg {
  margin-bottom: auto;
}
.body .main .index-body .card__category {
  font-size: 0.8rem;
  font-weight: 600;
}
.body .main .index-body .card__name {
  font-size: 1.15rem;
  font-weight: 600;
}
.body .main .index-body .card__div {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.body .main .index-body .card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.25rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.body .main .index-body .supr {
  top: 0.4rem;
  right: 0.5rem;
}
.body .main .index-body .complete {
  bottom: 0.4rem;
  right: 0.5rem;
}
.body .main .index-body .card__btn-svg {
  width: 100%;
  opacity: 0.5;
}
.body .main .index-body .supr:hover {
  background-color: hsla(358, 100%, 68%, 0.65);
}
.body .main .index-body .supr:hover .card__btn-svg {
  opacity: 1;
}
.body .main .index-body .complete:hover {
  background-color: hsla(154, 53%, 57%, 0.65);
}
.body .main .index-body .complete:hover .card__btn-svg {
  opacity: 1;
}
.body .main .index-body .supr:active {
  background-color: hsl(358, 100%, 68%);
}
.body .main .index-body .supr:active .card__btn-svg {
  opacity: 1;
}
.body .main .index-body .complete:active {
  background-color: hsl(154, 53%, 57%);
}
.body .main .index-body .complete:active .card__btn-svg {
  opacity: 1;
}
.body .main .main__form-section {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 850;
}
.body .main .main__form-section .main__form-div {
  position: fixed;
  top: 5dvh;
  bottom: 5dvh;
  left: 5vw;
  right: 5vw;
  z-index: 900;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1.5rem;
  background-color: hsl(0, 100%, 100%);
}
.body .main .main__form-section .main__form-div__dark {
  background-color: hsl(201, 20%, 23%);
}
.body .main .main__form-section .form-div__title {
  font-size: 3rem;
  font-weight: 600;
  color: hsl(205, 50%, 33%);
}
.body .main .main__form-section .form-div__title__dark {
  color: hsl(173, 58%, 39%);
}
.body .main .main__form-section .task-form {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}
.body .main .main__form-section .task-form .task-form__div {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
}
.body .main .main__form-section .task-form .task-form__div input,
.body .main .main__form-section .task-form .task-form__div textarea {
  display: flex;
  align-items: center;
  height: 2.5rem;
  padding: 0.15rem 0.5rem;
  font-size: 1.4rem;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  border-bottom: 2px solid hsl(12, 76%, 61%);
}
.body .main .main__form-section .task-form .task-form__div input:focus,
.body .main .main__form-section .task-form .task-form__div textarea:focus {
  outline: 2px solid hsl(154, 53%, 57%);
  border-bottom: 1px solid rgb(199, 199, 199);
}
.body .main .main__form-section .task-form .task-form__div textarea {
  height: 4rem;
}
.body .main .main__form-section .task-form .task-form__bottom {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}
.body .main .main__form-section .task-form .task-form__bottom-div {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round {
  position: relative;
  display: flex;
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round label {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: block;
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox] {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox]:checked + label {
  background-color: hsl(154, 53%, 57%);
  border-color: hsl(154, 53%, 57%);
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox]:hover + label {
  background-color: hsla(159, 86%, 55%, 0.5);
  border-color: hsla(159, 86%, 55%, 0.5);
}
.body .main .main__form-section .task-form .task-form__bottom-div .checkbox-wrapper-18 .round input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.body .main .main__form-section .task-form .task-form__submit {
  border: none;
  border-radius: 3rem;
  padding: 0.75rem;
  letter-spacing: 1px;
  font-weight: 600;
  color: hsl(204, 48%, 15%);
  background-color: hsl(154, 53%, 57%);
  cursor: pointer;
}
.body .main .main__form-section .task-form .task-form__submit:hover {
  background-color: hsl(159, 86%, 55%);
}
.body .main .main__form-section .task-form label {
  font-size: 1.35rem;
  cursor: pointer;
}
.body .main .main__form-section .task-form label i {
  font-style: italic;
}
.body .main .main__form-section .form-div__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.75rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}
.body .main .main__form-section .form-div__close-btn .form-div__close-svg {
  width: 100%;
  opacity: 0.5;
}
.body .main .main__form-section .form-div__close-btn:hover {
  background-color: hsla(358, 100%, 68%, 0.75);
}
.body .main .main__form-section .form-div__close-btn:hover .form-div__close-svg {
  opacity: 1;
}
.body .main .main__form-section .form-div__close-btn:active {
  background-color: hsl(358, 100%, 68%);
}
.body .main .main__form-section .form-div__close-btn:active .form-div__close-svg {
  opacity: 1;
}
.body .main .d-none {
  display: none;
}
.body #btnSwitchTheme {
  position: absolute;
  top: 2dvh;
  right: 2vw;
  z-index: 1;
  border: none;
  border-radius: 50%;
  width: 5vw;
  aspect-ratio: 1;
  background-color: transparent;
  cursor: pointer;
}
.body #btnSwitchTheme .btnTheme-img {
  max-width: 100%;
}
.body .footer {
  height: 18dvh;
}
.body .d-none {
  display: none;
}

.body__dark {
  background-color: hsl(201, 20%, 23%);
  color: hsl(0, 0%, 100%);
}

@media (max-width: 475px) {
  .main__div-row {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
  .body .footer {
    height: 21dvh;
  }
}

/*# sourceMappingURL=style.css.map */
