$bg-primary-clr: hsl(210deg, 17, 98);
$bg-dark-clr: hsl(201deg, 20, 23);
$primary-clr: hsl(204deg, 56, 31);
$btn-neutral-clr: hsl(0deg, 0, 100);
$btn-primary-clr: hsl(154deg, 53, 57);
$btn-hover-clr: hsl(159deg, 86, 55);
$btn-active-clr: hsl(134deg, 75, 72);
$title-primary-clr: hsl(205deg, 50, 33);
$title-dark-clr: hsl(173deg, 58, 39);
$subtitle-primary-clr: hsl(12deg, 76, 61);
$card-bg-primary-clr: hsl(0deg, 100, 100);